

<h3><b>Número de  estudiantes {{ numero_estudiantes }}</b></h3>


<table>
  <tr>
    <th><b>Nombre</b></th>
    <th><b>Apellido</b></th>
    <th><b>Cedula</b></th>
    <th><b>Suma Cedula</b></th>
    <th><b>Lista telefonos</b></th>
    <th><b>Opciones</b></th>
  </tr>
  {% for e in estudiantes %}
  <tr>
    <td>
      {{e.nombre}}
    </td>
    <td>
      {{e.apellido}}
    </td>
    <td>
      {{e.cedula}}
    </td>
    <td>
      {{e.sumaCedula}}
    </td>
    <td>
      <ul>
        {% for numero in e.mis_numeros_telefonicos.all %}
        <li>
            {{numero.telefono}}<br/>
        </li>
    {% endfor %}
      </ul>

</td>
<td>
[<a href="{% url 'obtener_estudiante' e.id %}">ver</a>]

</td>
  </tr>
  {% endfor %}

</table>
